body
{  
    background-color : #96FFA1;
    color : black;
}

.menu
{
    position:absolute;
    left:50px;
    top:220px;
    width:100px;
    color:blue;
    border-radius:5%;
    border-color: #990000;
    border-style : solid;
    border-width: 3px;

}

#header
{
    left:0px;
    top:0px;
    height: 1em;
    position:absolute;
}

.menu a {
    display : block;
    border: solid 1px;
    width: 100%;


}


.etudiant {
    display : block;
    border: solid 1px;
    width: 100%;
    color : black;
    background-color : #C9FEC1;
    padding : 20px;
}

.imageetudiant {
    width: 50%;
    height: 50%;
}

.nameStudent {
    font : 16px;
    font : bold; 
    color : black;
    text-transform : uppercase;
    font-size: 20px;
    text-decoration:underline;
}

.container
{
    position:relative;
    top:180px;
    left:200px;
    width:500px;
    color : black;
    background-image src="thes.jpg";

}

#footer {
    display: block;
    position: fixed;
    width:90%;

    height: 70px;
    background-color: #cc0000;
    border-radius: 10%;

}

p {
    font-color:black;
}
